Python Basics

##Python Basics

In [2]:
765+8999

9764

In [3]:
4%2

0

In [ ]:
4/2

In [ ]:
5//2

In [3]:
5/2

2.5

In [4]:
type(4/2)

float

In [5]:
type(2)

int

In [6]:
type(2.3)

float

In [7]:
type("Nitant")

str

In [8]:
type('Nitant')

str

In [9]:
a=10
b=20
c=a+b

In [10]:
c

30

In [11]:
type(c)

int

In [12]:
#Boolean operations
True and True

True

In [13]:
False and True

False

In [14]:
True or True

True

In [15]:
True or False

True

In [16]:
type(True)

bool

In [17]:
a=10
b=20
a+b>30 | a-b<10

True

In [18]:
#Typecasting
str('1')

'1'

In [24]:
str(888)

TypeError: 'str' object is not callable

In [28]:
##Strings
str="I live in Vasco-da-gama"
##Never use reserved keywords otherwise you will get error

str

In [29]:
str

'I live in Vasco-da-gama'

In [30]:
a=10
a

10

In [ ]:
print(a)  ##Always displayed as a string

In [36]:
str1 ="A good person"
str2="A bad person"

In [37]:
print(str1)
print(str2)

A good person
A bad person

In [38]:
str1+" "+str2

'A good person A bad person'

In [ ]:
print(str1)

In [1]:
4+3

7

In [2]:
name=input("Enter your name ")
print(name)

Enter your name Nitant N. Dessai
Nitant N. Dessai

In [3]:
a=input("Enter 1st number ")##value given through input is usually treated as string
b=input("Enter 2nd number ")
c=a+b
print("The sum is ",c)

Enter 1st number 4
Enter 2nd number 6
The sum is  46

In [4]:
a=float(input("Enter 1st number "))##Do typecasting
b=float(input("Enter 2nd number "))
c=a+b
print("The sum is ",c)

Enter 1st number 22.1
Enter 2nd number 33.1
The sum is  55.2

In [2]:
##String Formatting
first_name=input("What is your 1st name")
last_name=input("What is your last name")
print("My 1st name is {} and my last name is {}".format(first_name,last_name))

What is your 1st nameNitant
What is your last nameDessai
My 1st name is Nitant and my last name is Dessai

In [4]:
##String Formatting
first_name=input("What is your 1st name ")
last_name=input("What is your last name ")
print("My 1st name is {firstname} and my last name is {lastname}".format(lastname=last_name,firstname=first_name))

What is your 1st name Nitant
What is your last name Dessai
My 1st name is Nitant and my last name is Dessai

In [5]:
##Strong typing
1+int("2")

3

In [10]:
##Conditional statements
##if and elif
a=float(input("Enter 1st number "))
b=float(input("Enter 2nd number "))
c=a-b
print("The number difference is ",c)
if c<0:
    print("The number is negetive ")
else:    
    print("The number is positive ")

Enter 1st number 10
Enter 2nd number 20
The number difference is  -10.0
The number is negetive

##Data structures
1.Sets
2.Tuples
3.Srings
4.lists
5.Dictionary

In [2]:
lst=[1,2,3,"Nitant","Dessai"]

In [1]:
lst[3]

NameError: name 'lst' is not defined

In [ ]:
lst=[6,7,"nitant","Dessai"]

In [3]:
lst

[1, 2, 3, 'Nitant', 'Dessai']

In [5]:
list([6,7,"nitant","Dessai"])

[6, 7, 'nitant', 'Dessai']

In [7]:
lst.append("Cat")

In [8]:
lst

[1, 2, 3, 'Nitant', 'Dessai', 'Cat']

In [9]:
lst[2]

3

In [10]:
lst[2]="Data Science"

In [11]:
lst

[1, 2, 'Data Science', 'Nitant', 'Dessai', 'Cat']

In [12]:
print(lst[2])

Data Science

In [13]:
lst.append("Nitant")

In [14]:
lst.append("Nitant")

In [15]:
lst

[1, 2, 'Data Science', 'Nitant', 'Dessai', 'Cat', 'Nitant', 'Nitant']

In [16]:
lst.count("Nitant")

3

In [ ]:
##Indexing
##immutable
str1="Nitant" ##Here elements cannot be replaced

In [18]:
str1

'Nitant'

In [19]:
str1="Dessai"

In [20]:
str1

'Dessai'